@model Multicount_WEB.Models.VM.TransactionUpdateVM
<form asp-action="UpdateTransaction">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Update transaction</h1>
        <hr />
        <input hidden asp-for="Transaction.Id"/>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Transaction.Description" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.Description" class="form-control" />
                <span asp-validation-for="Transaction.Description" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Transaction.Amount" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Transaction.Amount" class="form-control" />
                <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-2">
                <label asp-for="Transaction.CategoryId" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Transaction.CategoryId" class="form-select" asp-items="@Model.CategoryList">
                    <option disabled>--Select Category--</option>
                </select>
                <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexTransaction" asp-controller="Transaction" class="btn btn-primary form-control">Back to list</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
